.Contact-Header{
    text-align: center;
}
.contactForm{
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact{
    border: 4px solid;
    border-radius: 7px;
    padding: 0 5px;
}